@import "tailwindcss";
@theme {
    --color-primary: #121063;
  }
@font-face {
    font-family: 'Geofont' ;
    src: url('../fonts/Geoform.ttf');
}
body{
    font-family: 'Geofont', sans-serif;
    font-size: 18px;
    font-weight: 500;
}